<div class="container-2">
  <div class="component-2">
    <h2 class="h2">Timeline</h2>
    <p class="p">
      While completing an entrepreneurial business course, I felt a desire to
      create an interactive business plan. This motivated me to start
      researching and learning on my own, then apply to Grand Circus Front-End
      Bootcamp to dive all the way in. My experience in bookstores has taught me
      about working with a wide variety of people who are focused on a broad
      range of topics, which I believe connects easily to working with teams and
      clients to accomplish a broad range of challenges. My goal is to use the
      technical skills gained at Grand Circus to create useful, accessible, and
      responsively designed tools as a junior developer.
    </p>
    <p class="p">
      While completing an entrepreneurial business course, I felt a desire to
      create an interactive business plan. This motivated me to start
      researching and learning on my own, then apply to Grand Circus Front-End
      Bootcamp to dive all the way in. My experience in bookstores has taught me
      about working with a wide variety of people who are focused on a broad
      range of topics, which I believe connects easily to working with teams and
      clients to accomplish a broad range of challenges. My goal is to use the
      technical skills gained at Grand Circus to create useful, accessible, and
      responsively designed tools as a junior developer.
    </p>
  </div>
</div>
