<div class="nav-box">
  <app-header></app-header>
  <nav class="nav">
    <ul class="nav-ul left">
      <li><a (click)="navigateTo('/home')">Home</a></li>
      <li><a (click)="navigateTo('/about')">About</a></li>
      <li><a (click)="navigateTo('/training')">Training</a></li>
    </ul>
    <ul class="nav-ul right">
      <li><a (click)="navigateTo('/skills')">Skills</a></li>
      <li><a (click)="navigateTo('/projects')">Projects</a></li>
      <li><a (click)="navigateTo('/contact')">Contact</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
