html,
/* h1,
h2,
h3,
h4, */
body,
p,
ul,
li, figure, section {
  padding: 0;
  margin: 0;
}
body {
  background-color: lavender;
  height: 100%;
  /* overflow: hidden; */
}
.nav-box {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  position: relative;
  width: 100vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 255, 255, 0.548);
  border-top-left-radius: 200vw;
  border-top-right-radius: 200vw;
  border-bottom: none;
  margin: 15px 25px 5px 25px;
}
.svg-logo {
  max-width: 100%;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 25%;
  z-index: -1;
}
.title {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: largest;
  margin: 5px;
  padding-top: 30px;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.right {
  text-align: right;
}
.nav-ul li {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
  margin: 5px;
  background-color: rgba(240, 255, 255, 0.548);
}
.nav-ul a {
  display: block;
  height: max-content;
  padding: 20px;
}
.nav-ul li:active {
  background-color: rgba(240, 255, 255, 1);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.component {
  align-self: center;
  background-color: white;
  border: 2px solid black;
  display: flex;
  /* flex-direction: column; */
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  width: 95vw;
  z-index: 10;
}

.footer {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (min-width: 350px) {
  .header {
    position: relative;
    width: 350px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 255, 255, 0.548);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom: none;
    margin: 15px 15px 5px 15px;
  }

  .svg-logo {
    /* width: max-content; */
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 25%;
    z-index: -1;
  }
  .title {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: largest;
    margin: 5px;
    padding-top: 30px;
  }
  .nav {
    width: 360px;
    display: flex;
    justify-content: space-between;
  }

  .nav-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .right {
    text-align: right;
  }
  .nav-ul li {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: italic;
    margin: 5px;
    background-color: rgba(240, 255, 255, 0.548);
  }
  .nav-ul a {
    display: block;
    height: max-content;
    padding: 20px;
  }
  .nav-ul li:active {
    background-color: rgba(240, 255, 255, 1);
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .component {
    align-self: center;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    width: 90vw;
    z-index: 10;
  }
  .footer {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

@media only screen and (min-width: 768px) {
  .nav-box {
    flex-direction: row;
    justify-content: center;
  }

  .header {
    height: 400px;
    width: 400px;
    border-radius: 200px;
  }
  .svg-logo {
    opacity: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .title {
    font-size: 70px;
    padding-top: 0;
  }
  .nav {
    height: 400px;
  }
  .nav-ul {
    text-align: center;
    justify-content: space-evenly;
  }
  .nav-ul a {
    padding: 50px;
  }
  .nav-ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
  }
  .nav-ul li:hover {
    background-color: rgba(240, 255, 255, 1);
  }
}
