<div class="container">
  <div class="home component">
    <app-article></app-article>
    <section>
      <figure>
        <img
          class="alana-img"
          src="https://lh3.googleusercontent.com/kyH0yuCAHWlChXcRBJCIou3Zm4mwTnKOOjGOe5Pq-n90anDjTBdjKfcJiPZ2hZ-O_z4iHNxMsMxqOflLT1abiBaitXm-KucBpA-0FNECaF62INLyVMtDVZhxN00EJDKyODAumDZHRg4Vl2SsRkgBXV9Y6pQMh3CTHmMpSMhkhOskULzoOAi7bjwP_wq1GjsBcy_Jn4Jc4QcYqeW7u08hV6VH6ALpezEMNVB_xI3jSC27PLmS6h_nfKrLW5fhFKF_noV9RnK_TvSNRJRftnSLZIWQB_RJu2RXKOt0m9doRPyvkWvrn2S2uGG4SucucCx1PfJboIMYS-t2h7TEfcikDDOaxEcIPg5MbySD8muyD0MHX2OeOnfSpEovLzsHyVjnqqXBY3kNfWAzffoQSf8GRfxXPAMWtk9i0J0rgpJLo9gz_s-WIM9-A9pcS3trQ8CVde6Gf-BrZsMeyoXq6AL6iOrxymL6E-KpJ_VRZOdapna4eNT_P1yYd3y-K2cjq5Rnm7fopf1L-Fy9EjhIm3_9O7ePO3NdFtt2P-e6w4wsDrEdIgkYkorMWig6z2usAxwR2_DAd9TqLLKO3bP5qeCGb9DScNSyPvlAkryVYEg3UQvfVMNXSneJojMG7d4Od88Ymecrwpa4NEWMyiyChJDTZL9B_7fdtMEbo1euoLozuQx52mCQdVtsR6bvTR0AIg=s768-no?authuser=0"
          alt=""
        />
      </figure>
      <article>
        <h1>Hello, world!</h1>
        <h2>My name is Alana Frank.</h2>
        <h3>I am a front-end developer.</h3>
        <h4>I am looking for a job!</h4>
      </article>
    </section>
  </div>
</div>
